.divbackground{
    background-image: url(./building.webp);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
}
.backdiv{
    position: relative;
    height: 623px;
}
.above{
    position: relative;
    break-after: column;
}
.UA{
    margin-left: 45%;
}
.svg{
    margin-left: 47%;
    color: white;
    margin-top: -5.3%;
    text-decoration: none;
}
.lin{
    display: flex;
    list-style: none;
    margin-left: 15%;
    margin-top: 20px;
}
.lin li{
    margin-left: 150px;
}
.lin li a{
    text-decoration: none;
    color: black;
}
/* 1st Div */
.p h2{
    margin-left: 40%;
    margin-top: 50px;
}
.p .divbut{
    border: none;
    background-color: inherit;
    font-size: xx-large;
    cursor: pointer;
    display: inline-block;
    margin-left: 47.5%;
    margin-top: -100px;
}
.Projects{
    /* margin-left: 5%;
    margin-right: 3%; */
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;
}
 .hello{ 
    background-image: url(https://static.wixstatic.com/media/6083e67e999345c5aa1aafc7db76022b.jpg/v1/fill/w_1576,h_596,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6083e67e999345c5aa1aafc7db76022b.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 1500px;
    height: 750px;
}
.Project img{
    padding-left: 10%;
    padding-right: 10%;
}
.Projects h1{
    margin-left: 40%;
    width: auto;
    height: auto;
    position: relative;
    background-color: white;
    padding: 3%;
}
.img1{
    height: 240px;
    width: 430px;
}
.img2{
    width: 430px;
    height: 240px;
}
.img3{
    width: 430px;
    height: 240px;
}
.Set1{
    display: flex;
    gap: 15px;
    background-color: white;
}
.img4{
    width: 430px;
    height: 240px;
}
.img5{
    width: 430px;
    height: 240px;
}
.img6{
    width: 430px;
    height: 240px;
}
.Set2{
    margin-top: 2.5%;
    display: flex;
    gap: 15px;
    background-color: white;
}
.img7{
    width: 430px;
    height: 240px;
}
.img8{
    width: 430px;
    height: 240px;
}
.img9{
    width: 430px;
    height: 240px;
}
.Set3{
    margin-top: 2.5%;
    display: flex;
    gap: 15px;
    background-color: white;
}
/* .backimg{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
} */

/* About Div */
.aboutartist h1{
    text-align: center;
}
.aboutartist p{
    font: bold;
    font-size: 30px;
}
.aboutartist{
    padding: 30px;
    background-color: white;
}
.hellodown{
    background-image: url(https://static.wixstatic.com/media/d5f99a33f0044179af43cb9685308ce1.jpg/v1/fill/w_1576,h_820,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d5f99a33f0044179af43cb9685308ce1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 1500px;
    height: 750px;
}
/* Contact Div */
textarea{
    resize: none;
}
.contactartist form{
    text-align: center;
}
.contactartist h1{
    text-align: center;
}
.contactartist button{
    margin-left: 320px;
    background-color: black; 
    color: white;
    padding: 4px 50px;
}
.contactartist-com-icon{
    margin-right: 400px;
    margin-top: -40px;
    padding: 10px;
}
ion-icon{
    margin-left: 20px;
}
.contactartist{
    margin-top: -10px;
}
/* Footer Div */
.footerartist{
    text-align: center;
    background-color: rgb(198, 62, 21);
    padding: 30px;
}
.container{
    position: relative;
}
.container img{
    width: 100%;
    display: block;
}
.container .overlay{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease;
}
.container:hover .overlay{
    opacity: 1;
}
.container .overlay .middle{
    font-size: 18px;
    font-weight: bold;
}
